*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.formContainer{
  background-color: white;
  width: 300px;
  height: 560px; 
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
}

.videoContainer{
  background-color: white;
  width: 600px;
  height: 560px; 
}

.logintitle{
    text-align: center;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    font-size: 30px;
    color:  #70b4e3;
}

.item-form1{
  margin-top: 100px;
}

.item-form2{
  margin-top: 20px;
}
.video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mainContain{
  width: 900px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #d2bac8, #cba4c4, #bd91c5, #a680c9, #8572d0, #6e7adb, #4f82e4, #0089eb, #00a0ef, #00b4e7, #00c4d6, #2ed2c4);
}

.login-form-button{
  margin-top: 100px;
  width: 200px;
  line-height: 30px;
  background-image: linear-gradient(to right top, #4bd7d6, #00c9f8, #00b3ff, #9090ff, #de5dd3);
  border-radius: 10px;
}

.login-form-button:hover{
  background-image: linear-gradient(to right top, #113131, #004c64, #0062a2, #696bd0, #de5dd3);
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}